<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/static/css/style.css">
  <head>
    <meta charset="utf-8">
    <title>BLS Explorer</title>
    <meta name="description" content="BLS Explorer is a free service to explore government compiled data">
  </head>
  <body>
    <div class="center sitelogo">
        <img class="center imglogo" src="/static/images/other.png" alt="logo" style="background-color: transparent;">
    </div>
    {% block content %}{% endblock %}
  </body>
</html>
